@import "tailwindcss";

@theme {
	--color-base: #d8e2fd;
	--color-page: #8a97b6;
	--color-top: #14213c;
	--color-heading: #8ed0fa;
	--color-subheading: #f3f4f6;
	--color-body: #ffffff;
	--color-icon: #8ed0fa;
	--color-icon-hover: #ea580c;
	--color-end-hover: #ff0000;
	--font-jetbrains: JetbrainsMonoNerdFont, monospace;
}

@layer components {
	
	.skill-hover {
		@apply transform transition duration-125 ease-in-out hover:scale-110 hover:text-icon-hover;
	}
	.skill-icon{
		@apply w-6;
	}
	.skill-text{
		@apply ml-2 font-bold text-left;
	}

	.icon-top-hover {
		@apply transform transition duration-125 ease-in-out hover:scale-125 hover:text-icon-hover;
	}
	.icon-end-hover {
		@apply transform transition duration-125 ease-in-out hover:scale-125 hover:text-end-hover;
	}
	.page-title {
		@apply text-lg font-bold text-top;
	}
	.page-line {
		@apply my-3 w-20 border-2 border-top;
	}
	
	.experience-title {
		@apply text-lg font-bold text-top;
	}
	.experience-time {
		@apply text-sm font-semibold text-top;
	}
	.experience-body-list {
		@apply list-disc space-y-1 pl-4 text-sm;
	}
	
	.education-title {
		@apply text-lg font-bold;
	}
	.education-subheading {
		@apply text-sm font-semibold text-top;
	}
	.education-time {
		@apply text-xs font-semibold text-top;
	}
	
	.project-section {
		@apply md:scroll-mt-16 rounded-xl bg-top p-4 shadow-lg shadow-top;
	}
	.project-title {
		@apply flex w-full items-center justify-between text-left text-2xl font-bold text-heading;
	}
	.project-body {
		@apply mt-4 text-sm text-page;
	}
	.project-grid {
		@apply mt-4 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3;
	}
	.project-vid {
		@apply h-64 w-full rounded-lg shadow-lg shadow-black;
	}
}